<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="5AvQfeDvIx0ldE9uSKVsoikqgFknd_CT18caf9TNoVg" />
  </head>
  <body>
    <script>
      window.location.replace('/VERSION/');
    </script>
    <h1><a href="/VERSION/">Click here to go to the latest version of the docs.</a></h1>
  </body>
</html>
