/*

Add styles or override variables from the theme here.

*/

$display1-weight: 500 !default;
$display2-weight: 100 !default;

$primary: rgb(255, 255,255)  !default;
$primary-light: lighten($primary, 75%) !default;
$secondary: #2D70DE !default;
$light: rgb(255, 255,255) !default;
$grey:  #888 !default;
$orange: $secondary;

ul, ol {
    padding-left: 2em;
}

.navbar-logo {
    height: 2em;
}

.nav-shadow {
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.navbar-brand {
    color: black !important
}

.navbar-bg-onscroll {
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    #docsy-top {
        display: block !important;
    }
}

.control-bar {
    display: none;
}

.td-content pre {
    word-wrap: normal;
    background-color: #f8f9fa;
    padding: 1rem;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.highlight > pre {
    border: 0px;
}

.td-content blockquote {
    border-radius: .15rem;
}

.notice.info {
    border-left-color: #6bf;
    background-color: rgba(102,187,255,.1);
}

.notice.warning {
    border-left-color: #fd6;
    background-color: rgba(255,221,102,.1);
}

.notice.danger {
    border-left-color: #f66;
    background-color: rgba(255,102,102,.1);
}

.notice > ul {
    margin-bottom: 0em;
}

#docsy-search {
    background: rgba(190, 185, 185, 0.3);
}
input[type="search"]::placeholder {
    color:  #9B9595 !important;
}

.td-box--secondary p > a:hover {
    color: #121314 !important;
}

#community a {
    color: #121314 !important;
}

.showcase img {
    margin: 0 30px;
}

.td-content > h1 { font-weight: 600; }
.td-content > h2 { font-weight: 600; }
.td-content > h3 { font-weight: 600; }
.td-content > h4 { font-weight: 600; }
.td-content > h5 { font-weight: 600; }
.td-content > h6 { font-weight: 600; }
.td-content > h7 { font-weight: 600; }

// {{< tabs >}}
// from https://github.com/alex-shpak/hugo-book

.hidden {
    display: none;
}

.book-tabs {
  margin-top: 1rem;
  margin-bottom: 1rem;

  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius:.15rem;

  overflow: hidden;

  display: flex;
  flex-wrap: wrap;

  label {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-bottom: 1px transparent;
    cursor: pointer;
  }

  .book-tabs-content {
    order: 999;
    width: 100%;
    border-top: 1px solid #f8f9fa;
    padding: 1rem;
    display: none;
  }

  input[type="radio"]:checked + label {
    border-bottom: 2px solid #05b;
  }
  input[type="radio"]:checked + label + .book-tabs-content {
    display: block;
  }

  .book-tabs-content > .highlight {
    margin: 0;
  }

  .book-tabs-content > blockquote.notice {
      padding: 1.2em 0em 1.2em 1em;
      margin-bottom: 1rem;
      color: #616161;
      border-left: 6px solid #2D70DE;
  }

  .book-tabs-content > blockquote.notice.notice.info { border-left-color: #6bf; }
  .book-tabs-content > blockquote.notice.notice.warning { border-left-color: #fd6; }
  .book-tabs-content > blockquote.notice.notice.danger { border-left-color: #f66; }
}

a {
    text-decoration: inherit;
}
